channel.vtu
dgfparser.log
edger.vtu
edges02dgridfunctionspace-*.vtu
edges02dinterpolation-*.vtu
edges02dinterpolationglobal-*.vtu
edges03dgridfunctionspaceglobal-*.vtu
edges03dinterpolationglobal-*.dat
edges03dinterpolationglobal-*.vtu
edges03dinterpolationglobal.eps
electrodynamic-alberta-triangulated-cube-6.level*.pvd
electrodynamic-alu-triangulated-cube-6.level*.pvd
electrodynamic-curl-evolution.dat
electrodynamic-curl-evolution.eps
electrodynamic-curl-evolution.gnuplot
electrodynamic-divergence-evolution.dat
electrodynamic-divergence-evolution.eps
electrodynamic-divergence-evolution.gnuplot
electrodynamic-electricenergy-evolution.dat
electrodynamic-electricenergy-evolution.eps
electrodynamic-electricenergy-evolution.gnuplot
electrodynamic-globalerror.dat
electrodynamic-globalerror.eps
electrodynamic-globalerror.gnuplot
electrodynamic-globalevolution.dat
electrodynamic-globalevolution.eps
electrodynamic-globalevolution.gnuplot
electrodynamic-l2error.dat
electrodynamic-l2error.eps
electrodynamic-l2error.gnuplot
electrodynamic-l2evolution.dat
electrodynamic-l2evolution.eps
electrodynamic-l2evolution.gnuplot
electrodynamic-newmark-electricenergy-evolution.dat
electrodynamic-newmark-electricenergy-evolution.eps
electrodynamic-newmark-electricenergy-evolution.gnuplot
electrodynamic-newmark-globalerror.dat
electrodynamic-newmark-globalerror.eps
electrodynamic-newmark-globalerror.gnuplot
electrodynamic-newmark-globalevolution.dat
electrodynamic-newmark-globalevolution.eps
electrodynamic-newmark-globalevolution.gnuplot
electrodynamic-newmark-l2error.dat
electrodynamic-newmark-l2error.eps
electrodynamic-newmark-l2error.gnuplot
electrodynamic-newmark-l2evolution.dat
electrodynamic-newmark-l2evolution.eps
electrodynamic-newmark-l2evolution.gnuplot
electrodynamic-newmark-probe-*.eps
electrodynamic-newmark-probe.dat
electrodynamic-newmark-probe.gnuplot
electrodynamic-newmark-ug-triangulated-cube-6.level*.pvd
electrodynamic-probe-*.eps
electrodynamic-probe.dat
electrodynamic-probe.gnuplot
electrodynamic-ug-*.level*.pvd
interpolated.vtu
multi.vtu
poisson_*.vtu
q1.vtu
rt02dgridfunctionspace-*.vtu
s0001:electrodynamic-alberta-triangulated-cube-6.level*-*.pvtu
s0001:electrodynamic-alu-triangulated-cube-6.level*-*.pvtu
s0001:electrodynamic-newmark-ug-triangulated-cube-6.level*-*.pvtu
s0001:electrodynamic-ug-*.level*-*.pvtu
s0001:p0000:electrodynamic-alberta-triangulated-cube-6.level*-*.vtu
s0001:p0000:electrodynamic-alu-triangulated-cube-6.level*-*.vtu
s0001:p0000:electrodynamic-newmark-ug-triangulated-cube-6.level*-*.vtu
s0001:p0000:electrodynamic-ug-*.level*-*.vtu
single.vtu
taylorhood.vtu
testanalytic
testconstraints
testconstraintsp1.vtu
testconstraintspowerp1.vtu
testcountingptr
testedges02d
testedges02d.vtu
testedges02dgridfunctionspace
testedges02dinterpolation
testedges02dinterpolationglobal
testedges03dgridfunctionspaceglobal
testedges03dinterpolationglobal
testedges03dinterpolationglobal.gnuplot
testelectrodynamic
testelectrodynamic-newmark
testfiniteelementmap
testfunction
testgridfunctionspace
testlaplacedirichletccfv
testlaplacedirichletccfv.vtu
testlaplacedirichletp12d
testlaplacedirichletp12d.vtu
testlocalfunctionspace
testmultitypetree
testp12dinterpolation
testpk
testpk.vtu
testpoisson
testrt0
testrt0.vtu
testrt02dgridfunctionspace
testutilities
